[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/vim-flake8"]
	path = vimfiles/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
